{% extends "base.html" %} {% block extra_nav %} {% include "./public_nav.html" %} {% endblock %} {% block contenido_principal %}
<div class="bgImage py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-white">
                <h1 class="text-center text-md-left display-3 black">Pide lo que quieras</h1>
                <p class="lead black">¿A qué estás esperando?</p>
            </div>
            <div class="col-md-6" id="book">
                <div class="card" id="regCard">
                    <div class="card-body p-5">
                        <div class="infoContainer"></div>
                        <h3 class="pb-3">Registro</h3>
                        <form method="post" action="/usuario">
                            <div class="form-group"> <label>Nombre</label>
                                <input class="form-control" placeholder="Nombre completo" name="nombre"> </div>
                            <div class="form-group"> <label>Correo electrónico</label>
                                <input type="email" class="form-control" placeholder="Correo electrónico válido" name="email"> </div>
                            <div class="form-group"> <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" name="password"> </div>
                            <div class="form-group"> <label>Repite contraseña</label>
                                <input type="password" class="form-control" placeholder="Repite la contraseña" name="password2"> </div>
                            <div class="container">
                                <div class="row">
                                    <button type="submit" class="btn mt-2 btn-outline-dark">Registrarme</button>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="my-3" onclick="swapCards()">¿Ya estás registrado? Entra</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card d-none" id="loginCard">
                    <div class="card-body p-5">
                        <div class="infoContainer"></div>
                        <h3 class="pb-3">Login</h3>
                        <form method="post" action="/login">
                            <div class="form-group"> <label>Correo electrónico</label>
                                <input type="email" class="form-control" placeholder="Correo electrónico válido" name="email"> </div>
                            <div class="form-group"> <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" name="password"> </div>
                            <div class="container">
                                <div class="row">
                                    <button type="submit" class="btn mt-2 btn-outline-dark">Iniciar Sesión</button>
                                </div>
                                <div class="row">
                                    <a href="javascript:void(0)" class="my-3" onclick="swapCards()">¿No tienes cuenta? Regístrate</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script_adicional %}
<script src="scripts/ui_functions.js"></script>
<script src="scripts/acceso.js"></script>
<script src="scripts/alerts.js"></script>
{% endblock %}