{% extends "base.html" %} {% block extra_nav %} {% include "./public_nav.html" %} {% endblock %} {% block contenido_principal %}
<main>
    <div class="container">
        <div class="col-md-3" id="book"></div>
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card my-3">
                <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Descripción de la empresa
                    </a>
                </h5>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block cardInfo">
                    <p>
                        <strong>DPIU CAPITAL</strong> ES EL FONDO DE CAPITAL PRIVADO LÍDER EN ESPAÑA EN INVERSIONES EN
                        SITUACIONES ESPECIALES CON MÁS DE 1200 MILLONES DE EUROS BAJO GESTIÓN.
                        
                    </p>
                    <p>
                        <strong>DPIU CAPITAL</strong> es el fondo de capital privado líder en inversiones en medianas empresas en
                        España que atraviesan situaciones especiales, de especial complejidad y/o que requieren
                        procesos de transformación. 
                    </p>
                    <p>
                        En este sentido, típicamente invierte tanto en el capital como en
                        la deuda de empresas que cuentan con un buen posicionamiento estratégico pero que se
                        enfrentan a importantes desafíos estratégicos, operativos, financieros o accionariales.
                    </p>
                    <p>
                        La tesis de inversión caracteriza a <strong>DPIU CAPITAL</strong> como un socio activo y comprometido que
                        contribuye con una visión de largo plazo, el capital necesario, un equipo propio con talento y
                        una dilatada experiencia para crear valor y asegurar la competitividad de las empresas donde
                        invierte.
                    </p>                    
                </div>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
                        Apoyos
                    </a>
                </h5>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block cardInfo">
                    <p>
                        <strong>DPIU CAPITAL</strong> está respaldada por importantes inversores institucionales internacionales y por
                        empresarios de éxito en sus respectivos sectores. 
                    </p>
                    <p>
                        Junto a ello, los propios gestores de DPIU
                        CAPITAL mantienen igualmente un importante compromiso como inversores en el fondo
                        <strong>DPIU CAPITAL</strong> está registrada en la CNMV como Sociedad Gestora de Entidades de Inversión
                        de Tipo Cerrado.
                    </p>
                    <p>
                        <strong>DPIU CAPITAL</strong> AL CONSTITUYE LA FIRMA MÁS ACTIVA EN INVERSIONES EN SITUACIONES
                        ESPECIALES DE TAMAÑO MEDIO
                        <strong>DPIU CAPITAL</strong> ha realizado 129 inversiones en los últimos cuatro años posicionándose como la
                        firma líder en situaciones especiales de tamaño medio en España.
                    </p>
                    <p>
                        <strong>DPIU CAPITAL</strong> cuenta con el equipo más experimentado en España para invertir en situaciones
                        especiales
                    </p>
                    <p>
                        <strong>DPIU CAPITAL</strong> goza de claras ventajas competitivas en el cierre de la transacción dada su
                        capacidad para cerrar operaciones de manera rápida (en 30 días), y su flexibilidad en la
                        estructura de la operación (participaciones, precios, deuda, etc.) y las garantías aportadas por
                        los vendedores.
                    </p>     
                </div>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Labor y método
                    </a>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block cardInfo">
                    <p>
                        Importantes grupos financieros e industriales han confiado en <strong>SHERPA DPIU CAPITAL</strong> para
                        desinversiones de parte de sus activos
                    </p>
                    <p>
                        <strong>Una única labor:</strong> la gestión de activos financieros <strong>DPIU CAPITAL</strong> opta por gestionar una gama
                        limitada de estrategias para lograr una mayor revalorización del capital de sus clientes a lo
                        largo del tiempo.
                    </p>
                    <p>
                        En cuanto a nuestro método, preferimos una gestión realista basada en nuestras destrezas.                        
                    </p>
                    <p>
                        Los productos insignia de la casa, <strong>DPIU CAPITAL</strong> Investissement, <strong>DPIU CAPITAL</strong> Patrimoine y
                        <strong>DPIU CAPITAL</strong> Securité, se lanzaron en 1989, con una marcada orientación internacional y
                        hacia los países emergentes. Desde entonces, estos dos Fondos no han dejado de demostrar
                        su resistencia a largo plazo, especialmente en periodos muy bajistas. 
                    </p>
                    <p>
                        Esa solidez corrobora la capacidad de <strong>DPIU CAPITAL</strong> para compaginar rentabilidad y gestión de riesgos.
                    </p>    
                </div>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Equipo
                    </a>
                </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block cardInfo">
                        <p>NUESTRO EQUIPO ESTÁ FORMADO POR DESTACADOS EJECUTIVOS PROCEDENTES DE FIRMAS
                            DE CONSULTORÍA, PUESTOS DIRECTIVOS, CAPITAL RIESGO Y BANCA DE INVERSIÓN, TODOS
                            ELLOS CON UNA DILATADA EXPERIENCIA EN EL SECTOR DE LA REESTRUCTURACIÓN
                            EMPRESARIAL.
                            ADEMÁS, NOS ASOCIAMOS CON EQUIPOS GESTORES EN LA EJECUCIÓN DE LOS PLANES DE
                            VIABILIDAD Y DE REESTRUCTURACIÓN DE LAS COMPAÑÍAS OBJETIVO.</p>

                        <h5>EL OBJETIVO</h5>
                        <ul>
                            <li>
                                Inversiones en empresas en situaciones especiales que se enfrentan a importantes retos
                                estratégicos, operativos o financieros pero que cuenta con ventajas competitivas sostenibles y
                                con posiciones relevantes en sus mercados.
                            </li>
                            <li>
                                Facturación entre € 20M y 300M si bien no se descartan operaciones de mayor tamaño en coinversión.
                                Enfoque multi-sectorial excepto sector financiero e inmobiliario.
                            </li>
                            <li>
                                Interés especial por oportunidades de consolidación sectoriales (buy and build).
                            </li>
                            <li>
                                Participación siempre con control de la gestión (mayoritaria o minoritaria)
                            </li>
                        </ul>
                </div>
                </div>
            </div>

            <div class="card my-3">
                <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        Bases del éxito
                    </a>
                </h5>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block cardInfo">
                    <p>
                        METODOLOGÍA EXPERIENCIA Y CREACIÓN DE VALOR NUESTRA FILOSOFÍA SE BASA EN
                        APORTAR NO SOLO CAPITAL SINO FUNDAMENTALMENTE GESTIÓN COMO PALANCA DE
                        CREACIÓN DE VALOR EN LAS INVERSIONES:
                    </p>
                    
                    <p> El éxito sistemático a lo largo de los años, con rentabilidades muy por encima de la media de la
                        industria, ha permitido a Sherpa Capital desarrollar una metodología para los procesos de
                        transformación de compañías implementada con éxito en más de 150 empresas. Los aspectos
                        fundamentales en los que se sustenta
                    </p>

                    <ul>
                        <li>
                            Definición y ejecución del Plan de 100 y 200 días.
                        </li>
                        <li>
                            Trabajo conjunto con el equipo directivo reforzándolo y apoyándolo cuando es necesario con
                            nuestros propios ejecutivos de gestión.
                        </li>
                        <li>
                            Planes de crecimiento mediante internacionalización.
                        </li>
                        <li>
                            Planes de adquisiciones para consolidar el sector. Habitualmente todas nuestras participadas
                            adquieren al menos otra compañía de su industria.
                        </li>
                        <li>
                            Redefinición financiera con especial énfasis en lo relacionado con la estructura financiera y
                            liquidez.
                        </li>
                        <li>
                            Plan estratégico, reorientación estratégica y operativa del negocio.
                        </li>
                    </ul> 
                </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" id="book">
        </div>
    </div>
</main>
{% endblock %} {% block script_adicional %} {% endblock %}