{% block extra_nav %} {% include "./private_nav.html" %} {% endblock %} {% extends "base.html" %} {% block contenido_principal %}
<div id="pedido" class="py-5">
    <div class="container">
        <div class="row">
            <div class="infoContainer"></div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Restaurante</th>
                            <th>Detalles</th>
                            <th>Nota</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                        <div>
                            <tr>
                                <td hidden><input type="text" value="{{pedido._id.toString()}}"></td>
                                <td>{{pedido.restaurante}}</td>
                                <td>{{pedido.valoracion.valoracionText}}</td>
                                <td>{{pedido.valoracion.valoracionNota}}/5</td>
                            </tr>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if sinValorar > 0 %}
            <div class="alert alert-warning">
                <strong>¡Espera!</strong> Tienes {{sinValorar}} pedidos sin valorar aún. <a href="/p/mispedidos">¡Valóralos!</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}