{% extends "base.html" %} {% block contenido_principal %}
<div id="pedido" class="py-5">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Restaurante</th>
                            <th>Precio</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                        <tr>
                            <td>{{ pedido.restaurante }}</td>
                            <td>{{ pedido.precio }}</td>
                            <td>{{pedido.hora.getFullYear()}} - {{pedido.hora.getMonth()}} - {{pedido.hora.getDay()}}</td>
                            <th><button type="button" class="btn btn-info">Valorar</button></th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>