{% block extra_nav %} {% include "./private_nav.html" %} {% endblock %} {% extends "base.html" %} {% block contenido_principal %}
<main>
    <div id="pedido" class="py-5">
        <div class="container">
            <div class="row">
                <div class="infoContainer"></div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th hidden></th>
                                <th class="col-md-1">Restaurante</th>
                                <th>Precio</th>
                                <th class="col-md-1 col-lg-1">Fecha</th>
                                <th>Valoración</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pedido in pedidos %}
                            <div>
                                <tr>
                                    <td hidden id="idComp"><input type="text" value="{{pedido._id.toString()}}"></td>
                                    <td id="nombreRestaurante">{{ pedido.restaurante }}</td>
                                    <td>{{ pedido.precio }} €</td>
                                    <td>{{ pedido.elapsedTime }}</td>
                                    {% if pedido.valoracion != null %}
                                    <td>
                                        {% if pedido.valoracion.valoracionNota >= 3 %}
                                        <p class="aprobado">{{pedido.valoracion.valoracionNota}}/5</p>
                                        {% else %}
                                        <p class="suspenso">{{pedido.valoracion.valoracionNota}}/5</p>
                                        {% endif %}
                                    </td>
                                    {% else %}
                                    <td><button type="button" class="btn btn-info addValoracion" data-toggle="modal" data-target="#valoracionModal">Valorar</button></td>
                                    {% endif %}
                                    <td><button type="button" class="btn btn-info repitePedidoBt" data-toggle="modal" data-target="#confirmacionDialog">RepetirPedido</button></td>
                                </tr>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal de valoración -->
<div class="modal fade" id="valoracionModal" tabindex="-1" role="dialog" aria-labelledby="valoracionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="valoracionModalLabel">Valoración de restaurante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/p/valorar" method="post">
                <div class="modal-body">
                    <div class="form-group">

                        <div class="star-rating">
                            <span class="fa fa-star-o" data-rating="1"></span>
                            <span class="fa fa-star-o" data-rating="2"></span>
                            <span class="fa fa-star-o" data-rating="3"></span>
                            <span class="fa fa-star-o" data-rating="4"></span>
                            <span class="fa fa-star-o" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>

                        <input type="number" name="valoracionNota" id="valoracionNum" hidden>
                        <div class="form-group my-3">
                            <label for="valoracionText">Justifique brevemente su valoración</label>
                            <textarea name="valoracionDes" class="form-control" id="valoracionText" rows="3" required></textarea>
                        </div>
                        <input id="pedidoId" type="text" name="idPedido" hidden>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Valorar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal de confirmación -->
<div class="modal fade" id="confirmacionDialog" tabindex="-1" role="dialog" aria-labelledby="confirmacionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmacionLabel">Repetir pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/p/repetir" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="modal-body">
                            <p>¿Estás seguro que quieres repetir el pedido?</p>
                        </div>
                        <input id="repetirPedidoId" type="text" name="pedidoRepetirId" hidden>
                    </div>
                </div>            
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Repetir</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block script_adicional %}
<script src="../../scripts/ui_functions.js"></script>
<script src="../../scripts/addValoracion.js"></script>
<script src="../../scripts/alerts.js"></script>
{% endblock %}