{% block extra_nav %} {% include "./private_nav.html" %} {% endblock %} {% extends "base.html" %} {% block contenido_principal %}
<div id="pedido" class="py-5">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <h1>{{restaurante.nombre}}</h1>
                <p>Modificar Menu</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Plato</th>
                            <th>Precio</th>
                            <th>Modificar</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plato in restaurante.menu %}
                        <tr>
                            <td>{{ plato.nombre }}</td>
                            <td>{{ plato.precio }}</td>
                            <td>{{ modificar }}</td>
                            <td>{{ borrar }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script_adicional %}
<script src="/scripts/modificar_menu.js"></script>
{% endblock %}