<li class="nav-item"><a class="nav-link pr-3" href="/p/crearrestaurante">Crear Restaurante</a></li>
<li class="nav-item dropdown pr-3">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cuenta
    </a>
    <div id="dropdown" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/p/mispedidos" id="misPedidos">Mis pedidos</a>
        <a class="dropdown-item" href="/p/misvaloraciones" id="misValoraciones">Mis valoraciones</a>
        <a class="dropdown-item" href="/p/misrestaurantes" id="misRestaurantes">Mis restaurantes</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
    </div>
</li>