{% extends "base.html" %} {% block contenido_principal %}
    <div class="py-5">
        <div class="container">
            <div class="row py-3">
                <!-- Barra de búsqueda -->
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form action="/home" id="busquedaForm">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button id="btBusqueda" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Buscar por
                                </button>
                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header">Parámetro de búsqueda</h6>
                                    <a class="dropdown-item" href="#" data-pdsa-dropdown-val="nombre">Nombre</a>
                                    <a class="dropdown-item" href="#" data-pdsa-dropdown-val="direccion">Dirección</a>
                                    <a class="dropdown-item" href="#" data-pdsa-dropdown-val="web">Página web</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item busquedaTodos" href="/home">Buscar todos</a>
                                </div>
                            </div>   
                            <input name="busqueda" id="busquedaValue" type="text" class="form-control" placeholder="Buscar restaurante...">
                            <input type="text" id="busquedaParam" name="param" hidden>
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="submit" >Buscar</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul class="pagination">
                        {% if paginas.length > 0 %}
                        <li class="page-item pr-3" id="pi-{{ pagina}}">
                            <a class="page-link" href="/home?pg=1&#38;busqueda={{busquedaValor}}&#38;param={{paramValor}}&#38;reset=1" > &#60;&#60; </a>
                        </li>
                        {% endif %}
                        {% for pagina in paginas %}
                        <li class="page-item" id="pi-{{ pagina}}">
                            <a class="page-link" href="/home?pg={{ pagina }}&#38;busqueda={{busquedaValor}}&#38;param={{paramValor}}&#38;reset=1" >{{ pagina }}</a>
                        </li>
                        {% endfor %}
                        {% if paginas.length > 0 %}
                        <li class="page-item mx-3" id="pi-{{ pagina}}">
                            <a class="page-link" href="/home?pg={{paginas.length}}&#38;busqueda={{busquedaValor}}&#38;param={{paramValor}}&#38;reset=1" > &#62;&#62; </a>
                        </li>
                        {% else %}
                        <div class="alert alert-info">
                            <strong>¡Vaya!</strong> No hemos encontrado restaurantes
                        </div>    
                        {% endif %}
                        <script>
                            $( "#pi-{{ pag}}" ).addClass("active");
                        </script>
                    </ul>
                </div>
                <div class="col-md-3"></div>
            </div>

            <!-- Restaurantes -->
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    {% for restaurante in restaurantes %}
                    <div class="card cardHover my-5 py-3 pl-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://b.zmtcdn.com/data/pictures/4/8307024/a3c43b15a53ee7434898a74f4a42dec4.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A" alt="W3Schools.com">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-block">
                                        <h4 class="card-title">{{ restaurante.nombre }}</h4>
                                        <h6 class="card-subtitle mb-2 text-muted">Teléfono: {{ restaurante.telefono }}</h6>
                                        <p class="card-text">{{ restaurante.horario }}</p>
                                        <p class="card-text">{{ restaurante.direccion }}</p>
                                        <a href="#" class="card-link">{{ restaurante.web }}</a>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <a class="menuLink" href="#">¡Pedir!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_adicional %}
<script src="../scripts/searchDropdown.js"></script>
{% endblock %}