{% extends "../base.html" %} {% block contenido_principal %}
<div id="restaurante" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="">Casa Carmen</h1>
                <br/>
                <table class="table">
                    <tbody>
                        <tr>
                            <td><input class="form-check-input" type="checkbox" id="check1" value="Escalopines"> </td>
                            <td>Escalopines Al Cabrales</td>
                            <td>23€</td>
                        </tr>
                        <tr>
                            <td><input class="form-check-input" type="checkbox" id="check1" value="Cachopo"> </td>
                            <td>Cachopo Vaqueiro con chosco de tineo</td>
                            <td>700€</td>
                        </tr>
                        <tr>
                            <td><input class="form-check-input" type="checkbox" id="check1" value="Filete"> </td>
                            <td>Filete de Buey</td>
                            <td>13€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <br/>
                <br/>
                <div class="card">
                    <div class="card-header"> Casa Carmen</div>
                    <div class="card-body" id="pedidos">
                        <h4 class="center">Tú pedido</h4>
                        <p id="contenidoPedido" class="p-y-1">
                        </p>
                        <button type="submit" class="btn btn-primary center">Pedir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block script_adicional %}
<script src="scripts/ui_functions.js"></script>
{% endblock %}