.pPedido {
    color: #4b3f3a;
    margin-bottom: 5px;
    border-bottom: 1px dashed #beab82;
}

.darkbrown {
    color: #4b3f3a;
}

tr {
    font-size: 1.3em;
    list-style: none;
    color: rgb(82, 82, 82);
}

input[type='checkbox'] {
    margin-left: 0px
}

.busquedas {
    display: inline-flex;
}

.bgImage {
    background-image: url("http://www.domainedefontenille.com/image/images_site/33/le-champ-des-lunes-restaurant-gastronomique-au-coeur-du-luberon-fond-background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.black {
    color: rgb(41, 41, 41);
}

.black h1 {
    font-size: 1.5em;
}

table {
    border: none;
}

.basement {
    align-items: baseline;
    vertical-align: center;
}

.main {
    background: #316D4A;
}

.page-link {
    color: #316D4A;
}

.btn-info:disabled {
    background: rgb(67, 151, 102);
    border-color: rgb(46, 104, 70);
}

.btn-info:disabled:hover {
    background: rgb(26, 59, 40);
    border-color: rgb(26, 59, 40);
}

.btn-primary {
    background: #316D4A;
    border-color: rgb(46, 104, 70);
}

.btn-primary:hover {
    background: rgb(26, 59, 40);
    border-color: rgb(26, 59, 40);
}

.page-item:active {
    background: #316D4A;
    border-color: rgb(46, 104, 70);
}

.btn-link {
    color: #316D4A;
}

.btn-link:hover {
    color: rgb(26, 59, 40);
}

.btn-info {
    background: #EEA74B;
    border-color: rgb(228, 158, 72);
    cursor: pointer;
}

.btn-info:hover {
    background: rgb(209, 138, 51);
    border-color: rgb(209, 138, 51);
}

.colorwhite {
    color: white;
}

.menu {
    display: none;
    flex-direction: column;
}

.scrollable {
    margin-top: 10px;
    overflow: scroll;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
    height: 40%;
}

.scrollable p {
    color: #5E5E5E;
    font-size: 1.5em;
}

.botonera {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.cardHover:hover {
    background-color: #F2F2F2;
}

.menuLink {
    white-space: nowrap;
}

#alertDiv {
    display: none;
}

#dropdown {
    position: absolute;
}

#nav {
    padding-left: 10%;
    padding-right: 10%;
}

.centered {
    display: flex;
    justify-content: center;
}

.shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card p {
    color: rgb(82, 82, 82);
}

.customcard {
    text-align: center;
    margin-top: 10%;
}

a {
    color: #316D4A;
}

a:hover {
    color: rgb(26, 59, 40);
}

.white {
    color: white!important;
}

.btn-outline-dark:hover {
    background: #316D4A;
    color: white;
    border-color: rgb(26, 59, 40);
}

.page-item.active .page-link {
    background: #316D4A;
    color: white;
    border-color: rgb(26, 59, 40);
}

.page-link:hover {
    color: rgb(26, 59, 40);
}

.round {
    height: 40px;
    width: 40px;
    color: white;
    background: #316D4A;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin: 2%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.round:hover {
    transform: scale(1.2, 1.2);
    color: white;
    background: #316D4A;
}

.spaced {
    text-align: justify;
}

.spaced:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.round::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
}

.moreBrown {
    background: #f1dbb6;
}

.brown {
    background: #f7f3e7;
}

.alignedLeft {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 5rem;
}

.alignedRight {
    margin-left: 6rem;
    width: 100%;
}

.formCrearRestaurante input {
    margin-bottom: 20px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

#resumenPaginacion {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -4em !important;
}

.aprobado {
    color: green;
    text-align: center;
}

.suspenso {
    color:red;
    text-align: center;
}