{% extends "../base.html" %} {% block contenido_principal %}
<div class="py-5" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/form_red.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="align-self-center col-md-6 text-white">
                <h1 class="text-center text-md-left display-3">Pide lo que quieras</h1>
                <p class="lead">¿A qué estás esperando?</p>
            </div>
            <div class="col-md-6" id="book">
                <div class="card">
                    <div class="card-body p-5">
                        <h3 class="pb-3">Registro</h3>
                        <form method="post" action="/usuario">
                            <div class="form-group"> <label>Nombre</label>
                                <input class="form-control" placeholder="Nombre completo" name="nombre"> </div>
                            <div class="form-group"> <label>Correo electrónico</label>
                                <input type="email" class="form-control" placeholder="Correo electrónico válido" name="email"> </div>
                            <div class="form-group"> <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" name="password"> </div>
                            <div class="form-group"> <label>Repite contraseña</label>
                                <input type="password" class="form-control" placeholder="Repite la contraseña" name="password2"> </div>
                            <button type="submit" class="btn mt-2 btn-outline-dark">Registrarme</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}