.pPedido {
    color: #5E5E5E;
    margin-bottom: 5px;
}

tr {
    font-size: 1.3em;
    list-style: none;
    color: rgb(82, 82, 82);
}

input[type='checkbox'] {
    margin-left: 0px
}

.bgImage {
    background-image: url("http://www.domainedefontenille.com/image/images_site/33/le-champ-des-lunes-restaurant-gastronomique-au-coeur-du-luberon-fond-background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.black {
    color: rgb(41, 41, 41);
}

.black h1 {
    font-size: 1.5em;
}

table {
    border: none;
}